@model IEnumerable<app_tech_talent.Models.Vaga>

@{
    ViewData["Title"] = "Vagas Disponíveis";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string baseUrl = Context.Request.Scheme + "://" + Context.Request.Host + "/Vagas/Details/";
    string text = System.Net.WebUtility.UrlEncode("Veja essa Vaga na TechTalent");
}

<style>
    body {
        background-color: #C0C0C0;
    }
</style>

<div class="container mt-4">
    <h3>
        Descubra o próximo passo na sua carreira.
        Explore nossas vagas e transforme suas habilidades em oportunidades extraordinárias.
    </h3>

    <div class="row">
        @foreach (var vaga in Model)
        {
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@vaga.Titulo</h5>
                        <p class="card-text">@vaga.Descricao</p>
                        <p class="card-text"><strong>Localização:</strong> @vaga.Localizacao</p>
                        <p class="card-text"><strong>Formação:</strong> @vaga.formacao</p>
                        <p class="card-text"><strong>Experiência Profissional:</strong> @vaga.ExperienciaProficional</p>
                        <p class="card-text"><strong>Habilidades:</strong> @vaga.Habilidades</p>
                        <p class="card-text"><strong>Salário:</strong> @vaga.salario.ToString("C")</p>
                        <p class="card-text"><strong>Status:</strong> @vaga.status</p>
                        <p class="card-text"><strong>Data de Abertura:</strong> @vaga.dateAbertura.ToShortDateString()</p>
                        <p class="card-text"><strong>Data de Fechamento:</strong> @vaga.dataFechamento.ToShortDateString()</p>

                        <form method="post" asp-action="Candidatar">
                            <input type="hidden" name="vagaId" value="@vaga.Id" />
                            <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#myModal">Candidatar</button>
                        </form>

                        <aside class="socialsharing" style="display: flex; gap: 10px;">
                            <a href="https://www.facebook.com/sharer/sharer.php?u=@(baseUrl + vaga.Id)" target="_blank" rel="noopener noreferrer nofollow">
                                <svg role="img" aria-labelledby="_fb" width="32" height="32">
                                    <title id="_fb">Share on Facebook</title>
                                    <path d="M22.676 0H1.324C.593 0 0 .593 0 1.324v21.352C0 23.408.593 24 1.324 24h11.494v-9.294H9.689v-3.621h3.129V8.41c0-3.099 1.894-4.785 4.659-4.785 1.325 0 2.464.097 2.796.141v3.24h-1.921c-1.5 0-1.792.721-1.792 1.771v2.311h3.584l-.465 3.63H16.56V24h6.115c.733 0 1.325-.592 1.325-1.324V1.324C24 .593 23.408 0 22.676 0"></path>
                                </svg>
                            </a>
                            <a href="https://twitter.com/intent/tweet?url=@(baseUrl + vaga.Id)&text=@text" target="_blank" rel="noopener noreferrer nofollow">
                                <svg role="img" aria-labelledby="_tw" width="32" height="32">
                                    <title id="_tw">Share on Twitter</title>
                                    <path d="M23.954 4.569c-.885.389-1.83.654-2.825.775 1.014-.611 1.794-1.574 2.163-2.723-.951.555-2.005.959-3.127 1.184-.896-.959-2.173-1.559-3.591-1.559-2.717 0-4.92 2.203-4.92 4.917 0 .39.045.765.127 1.124C7.691 8.094 4.066 6.13 1.64 3.161c-.427.722-.666 1.561-.666 2.475 0 1.71.87 3.213 2.188 4.096-.807-.026-1.566-.248-2.228-.616v.061c0 2.385 1.693 4.374 3.946 4.827-.413.111-.849.171-1.296.171-.314 0-.615-.03-.916-.086.631 1.953 2.445 3.377 4.604 3.417-1.68 1.319-3.809 2.105-6.102 2.105-.39 0-.779-.023-1.17-.067 2.189 1.394 4.768 2.209 7.557 2.209 9.054 0 13.999-7.496 13.999-13.986 0-.209 0-.42-.015-.63.961-.689 1.8-1.56 2.46-2.548l-.047-.02z"></path>
                                </svg>
                            </a>
                        </aside>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- Modal -->

<div class="modal" id="myModal">

    <div class="modal-dialog">

        <div class="modal-content">

            <!-- Cabeçalho do Modal -->

            <div class="modal-header">

                <h4 class="modal-title">Confirmação de Candidatura</h4>

                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>

            <!-- Corpo do Modal -->

            <div class="modal-body">

                <p>Parabéns! Você se candidatou com sucesso à vaga.</p>

            </div>

            <!-- Rodapé do Modal -->

            <div class="modal-footer">

                <button type="button" class="btn btn-success" data-dismiss="modal">Fechar</button>

            </div>

        </div>

    </div>

</div>

