@model IEnumerable<app_tech_talent.Models.Profissional>

@{
    ViewData["Title"] = "Index";
}

<h1>Dados cadastrais</h1>


<table class="table table-bordered border-primary">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario.TipoUsuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CPF)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Idade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.TipoUsuario)
                </td>
                <td>
                    <div class="btn-group">
                    <a asp-action="Edit" asp-route-id="@item.ProfissionalId" class="btn btn-primary btn-sm">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.ProfissionalId" class="btn btn-warning btn-sm">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProfissionalId" class="btn btn-danger btn-sm">Deletar</a>
                    </div>
                </td>
            </tr>
    }
    </tbody>
</table>
