@model app_tech_talent.Models.FormacaoAcademica

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FormacaoAcademica</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCurriculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCurriculo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstituicaoDeEnsino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstituicaoDeEnsino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.grauObtido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.grauObtido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnoDeConclusao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnoDeConclusao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaDeEstudo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaDeEstudo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdFormacaoAcademica">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
