@model IEnumerable<app_tech_talent.Models.FormacaoAcademica>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Criar Formação academica</a>
</p>
<table class="table">
    <thead>
        <tr>
          
            <th>
                @Html.DisplayNameFor(model => model.InstituicaoDeEnsino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.grauObtido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnoDeConclusao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AreaDeEstudo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.InstituicaoDeEnsino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.grauObtido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnoDeConclusao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaDeEstudo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdFormacaoAcademica">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdFormacaoAcademica">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdFormacaoAcademica">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
